.booking-process{
    margin: 10% 0 0 0;
    text-align: center;
}
.booking-process-section1{
    margin:3% ;
}
.booking-process-body{
   margin: 5% 5% 6% 18%
 }

 .booking-process-subtext{
    color:yellowgreen
 }