.product-for-business-requirement{
    text-align: center;
    margin:15% 0 0 0;
}
.product-section-subheading{
    color:gray
}
.product-for-business-requirement
.card-img-top{
    margin:auto;
}

.product-for-business-requirement
.card{
    width:18%;
}