.why-choose-us{
    margin:45% 0 0 0;
    text-align:center;
}
.why-choose-us
.card-img-top{
    margin:auto;
    padding:3% 0 0 0;
}

.why-choose-us-card-list{
    padding:3% 2% 0 1%;
}
.why-choose-us-card{
    width:22%;
    margin:0 1% 0 3%;
}